.physics .title {
  display: inline-flex;
  float: left;
}

.physics .title > label {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  white-space: nowrap;
  font-weight: normal;
  user-select: none;
  margin-left: 27px;
  margin-top: 10px;
  select: none;
  width: 144px;
  float: left;
}

.physics .content > .controls {
  margin: 10px 10px 0px 10px;
  display: inline-block;
  white-space: nowrap;
  width: 100%;
}

.physics .content > .controls > .row {
  width: 100%;
  margin: 0;
}

.physics .content > .controls .dropdown {
  width: calc(100% - 88px);
  margin-bottom: 6px;
  float: left;
}

.physics .content > .controls .dropdown > button {
  padding: 0 10px 0 10px;
  overflow: hidden;
  height: 26px;
  width: 100%;
  margin: 0;
}

.physics .content > .controls button {
  background: whitesmoke;
  border-radius: 4px;
  margin-left: 4px;
  outline: none;
  height: 26px;
  width: 30px;
  float: left;
}

.physics .content > .controls button > span {
  position: relative;
  font-size: 16px;
  color: #9b9b9b;
  top: -1px;
}

.physics .content > .controls button:disabled > span {
  color: #d0d0d0;
}

.physics .content > .controls button:hover:not(:disabled) > span {
  color: #FF9800;
}

.physics .content > .controls button:disabled > span {
  color: #d0d0d0;
}

.physics .content > .controls label {
  margin: 4px 10px 0 10px;
  font-weight: normal;
  float: left;
}

/////////////////////////////////////////////////////////
// title controls
//
/////////////////////////////////////////////////////////
.physics-controls {
  margin: auto 0 auto calc(100% - 140px);
  position: relative;
  float: left;
}

.physics-controls > button {
  border: 1px solid #c6c6c6;
  background-color: #e1e1e1;
  border-radius: 6px;
  position: relative;
  overflow: hidden;
  outline: none;
  height: 24px;
  width: 26px;
}

.physics-controls > button:hover {
  border: 1px solid #878787;
  background-color: #f5f5f5;
}

.physics-controls > button > label {
  position: relative;
  font-size: 20px;
  color: #f0fcff;
  top: -8px;
}

.physics-controls > button > span {
  pointer-events: none;
  color: #9b9b9b
}
